<!-- Half Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('@Url.Content("~/Images/soulmyst.png")'); background-position:50% 78%; background-size initial;"></div>
            <a a href="@Url.Action("Soulmyst", "Projects")" class="carousel-caption">
                <h2>Soulmyst</h2>
                <p>
                    Soulmyst is a side scrolling endless runner game, made for Ludum Dare 35.
                </p>
            </a>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('@Url.Content("~/Images/tapband.png")'); background-repeat:no-repeat; background-color:#111; background-size: initial;"></div>
            <div class="carousel-caption">
                <h2>Tap Band</h2>
                <p>
                    Tap Band is an incremental tapping game about a time-travelling rock band, with idle elements.
                </p>
            </div>
        </div>
        <!--   <div class="item">
               <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
               <div class="carousel-caption">
                   <h2>WIP</h2>
               </div>
           </div>-->
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

@section scripts{
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
}