@{
    ViewBag.Title = "Home Page";
}
@section header{
    @Html.Partial("ImageCarousel")
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Hello Visitor!</h1>
            <p>
                I'm Róbert Zöldi-Kovács, a game developer, and a software developer.
            </p>
        </div>
    </div>
</div>
<!-- /.container -->