@{
    ViewBag.Title = "Home Page";
}
@section header{
    @Html.Partial("ImageCarousel")
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Hello Visitor!</h1>
            <p>
                My name is Róbert Zöldi-Kovács. I am a Software Developer, and I have been attending to the Game Developer and Analyst course at BME.
                I have been working on the development, and planning of several custom business support software before the course, and I am proficient in C# and Java based web developement, backed by SQL databases.
                I am also familiar with client side JavaScript development.
            </p>
            <p>
                During the course, I became failiar with many areas of game development. 
            </p>
        </div>
    </div>
</div>
<!-- /.container -->