<h2>Contact</h2>

<p>
    <b>Róbert Zöldi-Kovács</b><br />
    e-mail: <a href="mailto:zkovacs.robert@gmail.com" target="_top">zkovacs.robert@gmail.com</a><br />
    phone: +36 20 378 1198
</p>
<p>
    CV: <a href="~/Files/Robert Zoldi-Kovacs CV.pdf">English</a>
</p>