<h2>Hobbies</h2>
<h3>Influental video games</h3>
<ul>
    <li>Age of Empires 1-2</li>
    <li>Bastion</li>
    <li>Creeper World</li>
    <li>EVE Online</li>
    <li>Gemcraft series</li>
    <li>Half-Life 2</li>
    <li>Hearthstone</li>
    <li>Heroes of Might and Magic series</li>
    <li>Overwatch</li>
    <li>Plants vs Zombies 1-2</li>
    <li>Prince of Persia series</li>
    <li>Red Alert 2</li>
    <li>StarCraft 1-2</li>
    <li>Total War series</li>
    <li>Transport Tycoon Deluxe</li>
    <li>Witcher series</li>
    <li>X-Com series</li>
</ul>
<h3>Board games, card games</h3>
<ul>
    <li>Android: Netrunner</li>
    <li>Citadels</li>
    <li>Dreadball</li>
    <li>Pandemic</li>
    <li>Settlers of Catan</li>
    <li>Tikal</li>
    <li>Trickerion</li>
</ul>
<h3>Wargames</h3>
<ul>
    <li>Infinity - Hungarian Warcor (Community organizer)</li>
    <li>Firestorm: Armada</li>
    <li>Firestorm: Planetfall</li>
    <li>Kings of War</li>
</ul>
<h3>Sports</h3>
<p>I train at a kettlebell gym</p>
<h3>Books</h3>
<ul>
    <li>Foundation Trilogy</li>
    <li>Harry Potter</li>
    <li>Hyperion series</li>
    <li>Lord of the Rings</li>
</ul>
<h3>Films, Series</h3>
<ul>
    <li>Cowboy Bebop</li>
    <li>Dead Poets Society</li>
    <li>Interstella 5555</li>
    <li>Lord of the Rings</li>
    <li>Man in the High Castle</li>
    <li>Matrix</li>
    <li>Poirot movies</li>
    <li>Trigun</li>
</ul>
<h3>Music</h3>
I listen to many genres of music, and I'm open to new discoveries, if it is high quality music.
Some of my favourites are:
<ul>
    <li>Disturbed</li>
    <li>Eminem</li>
    <li>Jan Garbarek</li>
    <li>Muse</li>
    <li>Nightwish</li>
</ul>