<h2>Recommendations</h2>
<h3>Possible Games Internship</h3>
<div class="jumbotron">
    <p>Robert was involved in multiple areas while creating the game, what makes him a valuable team member. He has a strong vein for game design: he is already capable of understanding small to medium games, and he can elaborate their game design parts. Besides, he can also do well as a programmer. With these skills, he can solve complex problems.</p>
    <p style="text-align:right">
        <b>Gábor Megellai - Game Designer</b><br />
        <b>Kornél Mészáros - Software Developer</b>
    </p>
</div>