<h2>Skills</h2>
<h3>Game Design</h3>
<ul>
    <li>Concept writing</li>
    <li>Formalizing concepts</li>
    <li>Keeping the design consistent</li>
    <li>Writing development-ready documentation</li>
    <li>Prototyping</li>
    <li>Iterating through testing</li>
</ul>
<h3>Tools, Development</h3>
<ul>
    <li>Unity 3D</li>
    <li>C#</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>Gimp</li>
    <li>Microsoft Office</li>
    <li>Subversion</li>
    <li>Git</li>
</ul>