<div>
    <h2>
        Business projects
    </h2>
    <p>Before turning towards Game Development, and Game Design, I have worked as a software developer on several projects, mostly based on the .NET framework, and occasionally in Java. I have also worked with JavaScript, and SQL during these projects.</p>
    <h3>E-learning system</h3>
    <p>
        One of my first professional projects was creating an e-learning system with support for free positioning of elements, and placement of rich content in the learning materials.
    </p>
    <p>
        The project was developed with ASP.NET MVC, with extensive use of custom JavaScript modules on the client side. We have also implemented a media storage using Node.js. The application also interacted with a webshop, and authenticated the user through it.
    </p>
    <h3>
        Client software for parcel delivery machine
    </h3>
    <p>
        I have developed the frontend software for public parcel delivery machines. My work included implementing the workflow of the software, putting the UI together from elements provided by the graphic designers. I also had to use the local database, communicate with the server-side software, and interact with native interfaces of the hardware.
    </p>
    <p>
        The software was developed using Java.
    </p>
    <h3>
        Data warehouse software
    </h3>
    <p>
        I have participated in the development of a data warehouse software, managing several kinds of financial data.
    </p>
    <p>
        I have contributed to the project by creating a custom reporting framework capable of providing data in the requested form. The framework provides basic operations on the data, and enables the developers to implement custom data sources, and operations. These operations could be used to get the exact data the client requested. It is also possible for the users to define their own reports using the basic, and custom operations, and data sources in the web application without the need for a developer.
    </p>
    <p>
        I have also contributed by optimizing several SQL queries, and procedures used by the software, making considerable improvements performance-wise.
    </p>
    <h3>
        Procurement-support application
    </h3>
    <p>
        I have participated in the development of a procurement support application written in Java.
    </p>
    <p>
        My main contribution to the software was designing a wrapper on POI wich uses annotations on classes to understand how excel sheets should be interpreted, and imported, or exported. This saved considerable amount of work, and avoided several possible errors with the excel handling in the software.
    </p>
    <p>
        I have also implemented the data exporting, and importing functionality of the software, includin the hierarchical exporting, and importing of products, and their properties.
    </p>
</div>