<div>
    <h2>Space Combat</h2>
    <p style="text-align:center">
        <img src="~/Images/spacecombat.png" style="width:50%;">
    </p>
    <p>
        Space Combat is a tech demo made for the Unity 3D course during school.
    </p>
    <p>
        Altought for now it lacks real gameplay, every asset, and most of the programming is my own work.
    </p>
    <p>
        I have added the project to my portfolio in hopes of showing my basic understanding of modelling, textures, and handling Unity.
    </p>
    <p>
        You can download the <a href="https://github.com/ZKRobi/spacecombat/">Source here</a>
    </p>
</div>