<div>
    <h2>Tap Band</h2>
    <p style="text-align:center">
        <img src="~/Images/tapband.png" >
    </p>
    <p>
        Tap Band is a tapper game, where the player plays as a time-travelling punk-rock band. The player has to get better and better skills for their band members to be able to progress through concerts.
    </p>
    <p>
        Tap Band is the main product of the one year course I took on Game Design. Every member of the course contributed to it in some way.
    </p>
    <p>
        Possible Games provided professional support for the project. The final goal was to create a published game. Currently the project needs some final touch-ups before being published.
    </p>
    <p>
        My main contribution to the project was as a Game Designer - almost every part of the design passed under my hands for reviewing, bringing in line with the rest of the design, and writing documentation that can be implemented.
    </p>
    <p>
        I have participated in designing the core loop of the game, and I have designed the final version of passive income.
    </p>
    <p>
        After designing was completed, I have participated in implementing the game in Unity. I have refactored several prototype event systems, implemented character upgrades, daily events, refactored the booster code, refactored, and updated the prototype data handling, and data loading tools.
    </p>
    <p>
        Click on the following link, to view <a href="http://tapbandgame.com/">the blog about the game</a>
        
    </p>
</div>